# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Logs
logs/
*.log

# Databases
*.db
*.sqlite3

# Configuration files with sensitive data
config/database_config.ini
config/db_config.json

# Collected data
collected_data/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
/data
/data
